section.taskPage {
  display: grid;
  grid-template-areas: "TabBlock TabBlock " "MapBlock MapBlock" "AdvList sideFilter";
  grid-template-columns: 1fr 30%; }
  section.taskPage .titleAndMapButton {
    grid-area: TabBlock;
    margin: 70px 50px 15px 70px;
    display: flex; }
    section.taskPage .titleAndMapButton div {
      margin: 0 0 0 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      color: #9B99AA; }
      section.taskPage .titleAndMapButton div .mapButton {
        content: "";
        background-size: 60px 32px;
        width: 60px;
        height: 32px;
        background-repeat: no-repeat;
        margin: 0 8px 0 0; }
        section.taskPage .titleAndMapButton div .mapButton.on {
          background-image: url("../img/buttons/mapon.png"); }
        section.taskPage .titleAndMapButton div .mapButton.off {
          background-image: url("../img/buttons/mapoff.png"); }
  section.taskPage .mapBlock {
    grid-area: MapBlock;
    margin: 20px 70px;
    display: none; }
    section.taskPage .mapBlock.show {
      display: block; }
  section.taskPage .advList {
    grid-area: AdvList; }
    section.taskPage .advList .item {
      background: #FFFFFF;
      border: 1px solid #EDE8F7;
      box-sizing: border-box;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(32, 32, 32, 0.05);
      border-radius: 8px;
      margin: 0 50px 15px 70px;
      display: grid;
      grid-template-areas: "ava desc";
      grid-template-columns: 10% 90%;
      padding: 24px; }
      section.taskPage .advList .item .avatar {
        grid-area: ava; }
        section.taskPage .advList .item .avatar .avatarBlock {
          border-radius: 24px;
          width: 48px;
          height: 48px;
          background: #F5ACAC;
          position: relative; }
          section.taskPage .advList .item .avatar .avatarBlock img {
            position: absolute; }
      section.taskPage .advList .item .allDesc {
        grid-area: desc;
        display: grid;
        grid-template: "itemStatus itemPrice" auto "itemTitle itemPrice" auto "itemAddress itemAuthName" auto "itemDate itemLikes" auto "itemRisk itemFavButtons" auto;
        grid-template-columns: 70% 1fr; }
        section.taskPage .advList .item .allDesc .status {
          grid-area: itemStatus;
          font-family: 'LetoSans-Bold', sans-serif;
          font-size: 12px;
          line-height: 14px;
          color: #9B99AA;
          margin-bottom: 5px; }
        section.taskPage .advList .item .allDesc h4.title {
          grid-area: itemTitle;
          font-size: 18px;
          line-height: 21px;
          color: #2E09B6;
          cursor: pointer;
          margin-bottom: 5px; }
        section.taskPage .advList .item .allDesc .address {
          grid-area: itemAddress;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          margin-bottom: 10px; }
        section.taskPage .advList .item .allDesc .date {
          grid-area: itemDate;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          margin-bottom: 10px; }
          section.taskPage .advList .item .allDesc .date span {
            border-radius: 4px;
            padding: 6px 10px;
            background: #EDE8F7; }
        section.taskPage .advList .item .allDesc .riskDeal {
          grid-area: itemRisk;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          display: flex; }
          section.taskPage .advList .item .allDesc .riskDeal:before {
            content: "";
            background-image: url("../img/logos/norisc.png");
            background-size: 27px 22px;
            width: 27px;
            height: 22px;
            background-repeat: no-repeat;
            margin: 0 8px 0 0; }
        section.taskPage .advList .item .allDesc .price {
          grid-area: itemPrice;
          font-size: 16px;
          line-height: 19px;
          color: #1D1539;
          align-self: center;
          text-align: right; }
          section.taskPage .advList .item .allDesc .price span {
            font-family: 'LetoSans-Bold',sans-serif;
            padding: 5px 5px;
            border-radius: 4px;
            background: #FFDA58; }
        section.taskPage .advList .item .allDesc .authorName {
          grid-area: itemAuthName;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          text-align: right;
          align-self: end; }
        section.taskPage .advList .item .allDesc .likes {
          grid-area: itemLikes;
          font-size: 12px;
          line-height: 14px;
          color: #6A6976;
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          section.taskPage .advList .item .allDesc .likes .like {
            display: inherit;
            margin-right: 7px; }
            section.taskPage .advList .item .allDesc .likes .like:before {
              content: "";
              background: url("../img/logos/like.png") no-repeat;
              background-size: 14px 15px;
              width: 14px;
              height: 15px;
              margin: 0 4px 0 0; }
          section.taskPage .advList .item .allDesc .likes .dislike {
            display: inherit; }
            section.taskPage .advList .item .allDesc .likes .dislike:before {
              content: "";
              background: url("../img/logos/dislike.png") no-repeat;
              background-size: 14px 15px;
              width: 14px;
              height: 15px;
              margin: 0 4px 0 0; }
        section.taskPage .advList .item .allDesc .buttons {
          grid-area: itemFavButtons;
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          section.taskPage .advList .item .allDesc .buttons .favorite {
            content: "";
            background: url("../img/logos/favorite.png") no-repeat;
            background-size: 32px 32px;
            width: 32px;
            height: 32px;
            margin-right: 5px; }
          section.taskPage .advList .item .allDesc .buttons .dontshow {
            content: "";
            background: url("../img/logos/visibility.png") no-repeat;
            background-size: 32px 32px;
            width: 32px;
            height: 32px; }
  section.taskPage .sidebarFilter {
    grid-area: sideFilter;
    margin: 0 70px 20px 20px; }
    section.taskPage .sidebarFilter .searchFieldMobile {
      display: none;
      align-items: center;
      border: 2px solid #EDE8F7;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 15px 15px;
      height: 56px;
      margin: 15px 15px; }
      section.taskPage .sidebarFilter .searchFieldMobile button {
        display: inherit;
        padding: 0;
        border: 0;
        margin: 0; }
        section.taskPage .sidebarFilter .searchFieldMobile button:before {
          content: "";
          background: url("../img/buttons/search.png") no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px; }
      section.taskPage .sidebarFilter .searchFieldMobile input {
        height: 28px;
        padding: 0 2px;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        color: #1D1539;
        width: 100%;
        margin: 0; }
    section.taskPage .sidebarFilter label {
      font-size: 11px;
      line-height: 13px;
      color: #9B99AA; }
    section.taskPage .sidebarFilter input {
      height: 28px;
      padding: 0 2px;
      border: 0;
      font-size: 14px;
      line-height: 16px;
      color: #1D1539;
      width: 100%;
      margin: 0; }
    section.taskPage .sidebarFilter .filterBlock {
      border: 1px solid #EDE8F7;
      box-sizing: border-box;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-bottom: 25px;
      padding: 24px; }
      section.taskPage .sidebarFilter .filterBlock .cityField, section.taskPage .sidebarFilter .filterBlock .radiusOfSearch, section.taskPage .sidebarFilter .filterBlock .priceValue, section.taskPage .sidebarFilter .filterBlock .searchField {
        border: 2px solid #EDE8F7;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 10px 15px;
        height: 56px;
        margin: 5px 0 8px 0; }
      section.taskPage .sidebarFilter .filterBlock .searchField {
        display: flex;
        align-items: center; }
        section.taskPage .sidebarFilter .filterBlock .searchField button {
          display: inherit;
          padding: 0;
          border: 0;
          margin: 0; }
          section.taskPage .sidebarFilter .filterBlock .searchField button:before {
            content: "";
            background: url("../img/buttons/search.png") no-repeat;
            background-size: 24px 24px;
            width: 24px;
            height: 24px; }
      section.taskPage .sidebarFilter .filterBlock .taskFilter label {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        color: #1D1539;
        margin: 15px 0; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label:hover input ~ .checkmark {
          border: 1px solid #2E09B6; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label input[type=checkbox] {
          display: none; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label input[type=checkbox]:checked ~ .checkmark {
          content: "";
          background: url("../img/buttons/check.png") no-repeat;
          background-size: 20px 20px;
          width: 20px;
          height: 20px;
          border: 0; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label .checkmark {
          height: 20px;
          width: 20px;
          border: 1px solid #C0BAD5;
          box-sizing: border-box;
          border-radius: 3px;
          display: block;
          margin: 0 10px 0 0; }
    section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px; }
      section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList div {
        margin: 5px 10px 5px 5px;
        display: inherit; }
        section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList div span.remove {
          content: "";
          background: url("../img/buttons/close.png") no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
          border: 0;
          margin-left: 5px; }
    section.taskPage .sidebarFilter .categoryFilterMobile {
      display: none; }

/*# sourceMappingURL=tasks.css.map */
