@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  grid-area: bh;
  height: 63px;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "mmenu logo lang nav enter";
  -ms-grid-columns: 33px 120px 85px 1fr 190px;
  grid-template-columns: 33px 120px 85px 1fr 190px;
  padding: 0 5%;
  -webkit-box-shadow: 0 5px 10px rgba(32, 32, 32, 0.15);
  box-shadow: 0 5px 10px rgba(32, 32, 32, 0.15); }
  header.tasks {
    grid-template-areas: "mmenu logo  nav lang enter";
    -ms-grid-columns: auto auto 1fr 85px auto;
    grid-template-columns: auto auto 1fr 85px auto; }
  header.blogBlock {
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 90%; }
  header .mobilemenu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mmenu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .mobilemenu div {
      font-size: 20px;
      color: #585858; }
  header .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .logo .logo-img {
      content: "";
      background: url("../img/logo-desctop.png") no-repeat;
      background-size: 100px 40px;
      width: 100px;
      height: 40px;
      margin: 0 4px 0 0; }
  header nav.jqob-hmenu {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: nav;
    padding: 0 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header nav.jqob-hmenu a {
      font-size: 16px;
      color: #1D1539;
      line-height: 16px;
      font-stretch: ultra-expanded;
      margin-right: 25px;
      font-weight: 500; }
      header nav.jqob-hmenu a:first-child:before {
        content: "";
        display: inline-block;
        background: url("../img/plus.png") no-repeat;
        width: 20px;
        height: 16px;
        float: left; }
  header .languages {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: lang;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .languages .languagepicker {
      background-color: #FFF;
      padding: 0;
      height: 28px;
      width: 57px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 15px;
      border: 1px solid #EDE8F7;
      border-radius: 15px;
      overflow: hidden; }
      header .languages .languagepicker a {
        text-decoration: none;
        line-height: 28px;
        font-size: 12px;
        font-weight: 600;
        color: #9B99AA;
        padding: 0 10px; }
        header .languages .languagepicker a.active {
          color: #1D1539;
          font-weight: 600; }
        header .languages .languagepicker a i {
          font-size: 6px; }
        header .languages .languagepicker a .open {
          margin-left: 3px;
          display: none; }
        header .languages .languagepicker a .close {
          margin-left: 3px;
          display: inline-block; }
        header .languages .languagepicker a:hover {
          color: #1D1539;
          font-weight: 600; }
          header .languages .languagepicker a:hover .open {
            display: inline-block; }
          header .languages .languagepicker a:hover .close {
            display: none; }
      header .languages .languagepicker:hover, header .languages .languagepicker:active {
        height: 82px;
        overflow: initial; }
        header .languages .languagepicker:hover .open, header .languages .languagepicker:active .open {
          display: inline-block; }
        header .languages .languagepicker:hover .close, header .languages .languagepicker:active .close {
          display: none; }
  header .enter {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: enter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .enter button {
      background: #FFFFFF;
      border: 2px solid #C0BAD5;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 44px;
      font-family: 'LetoSans-Bold', sans-serif;
      font-size: 14px;
      color: #1D1539;
      display: block;
      margin: 0 10px 0 0;
      width: 85px;
      line-height: 0;
      padding: 0; }
    header .enter a {
      font-size: 14px;
      line-height: 16px;
      color: #2E09B6; }

section#sidebar {
  background-color: white;
  width: 376px;
  position: absolute;
  left: -376px;
  height: 100%;
  font-size: 16px;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  z-index: 10;
  top: 63px;
  padding: 0;
  position: fixed; }
  section#sidebar .sidebar_title {
    font-family: LetoSans-Bold, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1D1539;
    margin: 30px 65px 15px 70px; }
  section#sidebar .nav {
    margin: 0 65px 0 70px; }
    section#sidebar .nav li {
      list-style: none;
      margin-bottom: 10px; }
      section#sidebar .nav li a {
        color: #4F4F4F;
        text-decoration: none;
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        font-size: 16px;
        line-height: 19px; }
        section#sidebar .nav li a:hover {
          color: #1D1539;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }

footer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fm;
  background: white;
  min-height: 360px;
  border-top: 1px solid #EDE8F7;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "lc fm";
  -ms-grid-columns: 25% 1fr;
  grid-template-columns: 25% 1fr;
  margin: 70px 0 0 0; }
  footer .logo_copyright {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: lc;
    border-right: 1px solid #EDE8F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .logo_copyright .logo {
      margin-bottom: 15px; }
      footer .logo_copyright .logo img {
        max-width: 99%; }
    footer .logo_copyright .social_pages {
      padding-bottom: 30px; }
      footer .logo_copyright .social_pages a {
        margin: 0 4px; }
    footer .logo_copyright .store_buttons {
      margin-top: 15px;
      margin-bottom: 20px; }
      footer .logo_copyright .store_buttons span {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
        color: #1D1539;
        font-family: LetoSans-Bold, sans-serif; }
      footer .logo_copyright .store_buttons div {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .logo_copyright .store_buttons div a {
          margin: 5px; }
          footer .logo_copyright .store_buttons div a img {
            max-width: 100%; }
    footer .logo_copyright p {
      font-family: LetoSans, sans-serif;
      font-size: 12px;
      line-height: 14px;
      color: #9B99AA; }
  footer .footer_menu {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: fm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding-top: 20px; }
    footer .footer_menu div {
      margin: 0 auto; }
      footer .footer_menu div h3 {
        font-size: 16px;
        line-height: 19px;
        color: #2E09B6;
        text-transform: inherit; }
      footer .footer_menu div ul li {
        margin-bottom: 10px; }
        footer .footer_menu div ul li a {
          font-family: LetoSans, sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #4F4F4F; }
          footer .footer_menu div ul li a:hover {
            text-decoration: underline; }

section.talisman_fb {
  height: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  section.talisman_fb h1 {
    width: 50%;
    text-align: left; }
  section.talisman_fb .search-field {
    border: 2px solid #9B99AA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    width: 50%;
    padding: 2px; }
    section.talisman_fb .search-field button {
      background: #13C98A;
      border-radius: 44px;
      padding: 24px 15px;
      color: white;
      float: right;
      margin: 0;
      line-height: 0; }

section.taskPage {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "TabBlock TabBlock " "MapBlock MapBlock" "AdvList sideFilter";
  -ms-grid-columns: 1fr 30%;
  grid-template-columns: 1fr 30%; }
  section.taskPage .titleAndMapButton {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: TabBlock;
    margin: 70px 50px 15px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section.taskPage .titleAndMapButton div {
      margin: 0 0 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      color: #9B99AA; }
      section.taskPage .titleAndMapButton div .mapButton {
        content: "";
        background-size: 60px 32px;
        width: 60px;
        height: 32px;
        background-repeat: no-repeat;
        margin: 0 8px 0 0; }
        section.taskPage .titleAndMapButton div .mapButton.on {
          background-image: url("../img/buttons/mapon.png"); }
        section.taskPage .titleAndMapButton div .mapButton.off {
          background-image: url("../img/buttons/mapoff.png"); }
  section.taskPage .mapBlock {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: MapBlock;
    margin: 20px 70px;
    display: none; }
    section.taskPage .mapBlock.show {
      display: block; }
  section.taskPage .advList {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: AdvList; }
    section.taskPage .advList .item {
      background: #FFFFFF;
      border: 1px solid #EDE8F7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(32, 32, 32, 0.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(32, 32, 32, 0.05);
      border-radius: 8px;
      margin: 0 50px 15px 70px;
      display: -ms-grid;
      display: grid;
      grid-template-areas: "ava desc";
      -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
      padding: 24px; }
      section.taskPage .advList .item .avatar {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: ava; }
        section.taskPage .advList .item .avatar .avatarBlock {
          border-radius: 24px;
          width: 48px;
          height: 48px;
          background: #F5ACAC;
          position: relative; }
          section.taskPage .advList .item .avatar .avatarBlock img {
            position: absolute; }
      section.taskPage .advList .item .allDesc {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: desc;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: auto auto auto auto auto;
        grid-template: "itemStatus itemPrice" auto "itemTitle itemPrice" auto "itemAddress itemAuthName" auto "itemDate itemLikes" auto "itemRisk itemFavButtons" auto;
        -ms-grid-columns: 70% 1fr;
        grid-template-columns: 70% 1fr; }
        section.taskPage .advList .item .allDesc .status {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-area: itemStatus;
          font-family: 'LetoSans-Bold', sans-serif;
          font-size: 12px;
          line-height: 14px;
          color: #9B99AA;
          margin-bottom: 5px; }
        section.taskPage .advList .item .allDesc h4.title {
          -ms-grid-row: 2;
          -ms-grid-column: 1;
          grid-area: itemTitle;
          font-size: 18px;
          line-height: 21px;
          color: #2E09B6;
          cursor: pointer;
          margin-bottom: 5px; }
        section.taskPage .advList .item .allDesc .address {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
          grid-area: itemAddress;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          margin-bottom: 10px; }
        section.taskPage .advList .item .allDesc .date {
          -ms-grid-row: 4;
          -ms-grid-column: 1;
          grid-area: itemDate;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          margin-bottom: 10px; }
          section.taskPage .advList .item .allDesc .date span {
            border-radius: 4px;
            padding: 6px 10px;
            background: #EDE8F7; }
        section.taskPage .advList .item .allDesc .riskDeal {
          -ms-grid-row: 5;
          -ms-grid-column: 1;
          grid-area: itemRisk;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          section.taskPage .advList .item .allDesc .riskDeal:before {
            content: "";
            background-image: url("../img/logos/norisc.png");
            background-size: 27px 22px;
            width: 27px;
            height: 22px;
            background-repeat: no-repeat;
            margin: 0 8px 0 0; }
        section.taskPage .advList .item .allDesc .price {
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          -ms-grid-column: 2;
          grid-area: itemPrice;
          font-size: 16px;
          line-height: 19px;
          color: #1D1539;
          -ms-grid-row-align: center;
          align-self: center;
          text-align: right; }
          section.taskPage .advList .item .allDesc .price span {
            font-family: 'LetoSans-Bold',sans-serif;
            padding: 5px 5px;
            border-radius: 4px;
            background: #FFDA58; }
        section.taskPage .advList .item .allDesc .authorName {
          -ms-grid-row: 3;
          -ms-grid-column: 2;
          grid-area: itemAuthName;
          font-size: 14px;
          line-height: 22px;
          color: #4F4F4F;
          text-align: right;
          -ms-grid-row-align: end;
          align-self: end; }
        section.taskPage .advList .item .allDesc .likes {
          -ms-grid-row: 4;
          -ms-grid-column: 2;
          grid-area: itemLikes;
          font-size: 12px;
          line-height: 14px;
          color: #6A6976;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end; }
          section.taskPage .advList .item .allDesc .likes .like {
            display: inherit;
            margin-right: 7px; }
            section.taskPage .advList .item .allDesc .likes .like:before {
              content: "";
              background: url("../img/logos/like.png") no-repeat;
              background-size: 14px 15px;
              width: 14px;
              height: 15px;
              margin: 0 4px 0 0; }
          section.taskPage .advList .item .allDesc .likes .dislike {
            display: inherit; }
            section.taskPage .advList .item .allDesc .likes .dislike:before {
              content: "";
              background: url("../img/logos/dislike.png") no-repeat;
              background-size: 14px 15px;
              width: 14px;
              height: 15px;
              margin: 0 4px 0 0; }
        section.taskPage .advList .item .allDesc .buttons {
          -ms-grid-row: 5;
          -ms-grid-column: 2;
          grid-area: itemFavButtons;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end; }
          section.taskPage .advList .item .allDesc .buttons .favorite {
            content: "";
            background: url("../img/logos/favorite.png") no-repeat;
            background-size: 32px 32px;
            width: 32px;
            height: 32px;
            margin-right: 5px; }
          section.taskPage .advList .item .allDesc .buttons .dontshow {
            content: "";
            background: url("../img/logos/visibility.png") no-repeat;
            background-size: 32px 32px;
            width: 32px;
            height: 32px; }
  section.taskPage .sidebarFilter {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: sideFilter;
    margin: 0 70px 20px 20px; }
    section.taskPage .sidebarFilter .searchFieldMobile {
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 2px solid #EDE8F7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 15px 15px;
      height: 56px;
      margin: 15px 15px; }
      section.taskPage .sidebarFilter .searchFieldMobile button {
        display: inherit;
        padding: 0;
        border: 0;
        margin: 0; }
        section.taskPage .sidebarFilter .searchFieldMobile button:before {
          content: "";
          background: url("../img/buttons/search.png") no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px; }
      section.taskPage .sidebarFilter .searchFieldMobile input {
        height: 28px;
        padding: 0 2px;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        color: #1D1539;
        width: 100%;
        margin: 0; }
    section.taskPage .sidebarFilter label {
      font-size: 11px;
      line-height: 13px;
      color: #9B99AA; }
    section.taskPage .sidebarFilter input {
      height: 28px;
      padding: 0 2px;
      border: 0;
      font-size: 14px;
      line-height: 16px;
      color: #1D1539;
      width: 100%;
      margin: 0; }
    section.taskPage .sidebarFilter .filterBlock {
      border: 1px solid #EDE8F7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-bottom: 25px;
      padding: 24px; }
      section.taskPage .sidebarFilter .filterBlock .cityField, section.taskPage .sidebarFilter .filterBlock .radiusOfSearch, section.taskPage .sidebarFilter .filterBlock .priceValue, section.taskPage .sidebarFilter .filterBlock .searchField {
        border: 2px solid #EDE8F7;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 10px 15px;
        height: 56px;
        margin: 5px 0 8px 0; }
      section.taskPage .sidebarFilter .filterBlock .searchField {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        section.taskPage .sidebarFilter .filterBlock .searchField button {
          display: inherit;
          padding: 0;
          border: 0;
          margin: 0; }
          section.taskPage .sidebarFilter .filterBlock .searchField button:before {
            content: "";
            background: url("../img/buttons/search.png") no-repeat;
            background-size: 24px 24px;
            width: 24px;
            height: 24px; }
      section.taskPage .sidebarFilter .filterBlock .taskFilter label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        line-height: 16px;
        color: #1D1539;
        margin: 15px 0; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label:hover input ~ .checkmark {
          border: 1px solid #2E09B6; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label input[type=checkbox] {
          display: none; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label input[type=checkbox]:checked ~ .checkmark {
          content: "";
          background: url("../img/buttons/check.png") no-repeat;
          background-size: 20px 20px;
          width: 20px;
          height: 20px;
          border: 0; }
        section.taskPage .sidebarFilter .filterBlock .taskFilter label .checkmark {
          height: 20px;
          width: 20px;
          border: 1px solid #C0BAD5;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 3px;
          display: block;
          margin: 0 10px 0 0; }
    section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 10px; }
      section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList div {
        margin: 5px 10px 5px 5px;
        display: inherit; }
        section.taskPage .sidebarFilter .categoryFilter .selectedCategoryList div span.remove {
          content: "";
          background: url("../img/buttons/close.png") no-repeat;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
          border: 0;
          margin-left: 5px; }
    section.taskPage .sidebarFilter .categoryFilterMobile {
      display: none; }

@media screen and (max-width: 1200px) {
  body {
    /*blog*/ }
    body section.blogImage .main-image-elements .meta {
      padding: 0; }
      body section.blogImage .main-image-elements .meta h1 {
        letter-spacing: .5px;
        font-size: 68px;
        line-height: 1.17; }
      body section.blogImage .main-image-elements .meta .description {
        width: 95%; }
    body section.blogText {
      -ms-grid-rows: 1fr;
      -ms-grid-columns: 160px 630px 180px;
      grid-template: "ca bt ." 1fr/160px 630px 180px;
      max-width: 960px; }
      body section.blogText .customerAvatar {
        max-width: 150px; }
      body section.blogText .blogTextItem {
        max-width: 620px; }
        body section.blogText .blogTextItem p {
          font-size: 18px; }
        body section.blogText .blogTextItem iframe {
          width: 100%; }
        body section.blogText .blogTextItem h2, body section.blogText .blogTextItem h3, body section.blogText .blogTextItem a, body section.blogText .blogTextItem p {
          padding: 15px 0 15px 0px; }
        body section.blogText .blogTextItem img {
          padding: 0;
          width: 100%; }
    body section.taskPage .sidebarFilter {
      margin: 0 40px 20px 10px; }
      body section.taskPage .sidebarFilter .categoryFilter {
        margin-bottom: 40px; }
    body section.taskPage .advList .item {
      margin: 0 20px 15px 50px;
      -ms-grid-rows: 1fr;
      grid-template: "desc" 1fr;
      -ms-grid-columns: auto;
      grid-template-columns: auto; }
    body section.taskPage .advList .avatar {
      display: none; }
  /* blog end */
    body section.taskPage .advList .item > .allDesc {
    -ms-grid-row: 1;
    -ms-grid-column: 1; } }

@media screen and (max-width: 1024px) {
  body section.blogImage {
    background-attachment: scroll;
    min-height: 450px; }
    body section.blogImage .mainImageElements {
      width: 79vw; }
      body section.blogImage .mainImageElements .meta .description {
        margin: 0 auto; } }

@media screen and (max-width: 960px) {
  /*blog*/
  body {
    -ms-grid-rows: auto auto auto auto auto auto;
    -ms-grid-columns: 100%;
    grid-template: [row1-start] "bh" auto [row1-end] [row2-start] "bn" auto [row2-end] [row3-start] "tb" [row3-end] [row4-start] "sl" auto [row4-end] [row5-start] "rp" auto [row5-end] [row6-start] "ft" auto [row6-end]/100%; }
    body section.blogImage {
      grid-auto-rows: 1fr auto;
      min-height: 445px; }
      body section.blogImage .mainImageElements {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin: 16vh 10vw 5vh; }
        body section.blogImage .mainImageElements .meta {
          padding-bottom: 0; }
          body section.blogImage .mainImageElements .meta h1 {
            font-size: 62px;
            line-height: 62px; }
    body section.social_links {
      width: 95%; }
    body section.blogText {
      padding: 0 15px 0;
      -ms-grid-rows: auto auto;
      -ms-grid-columns: 100%;
      grid-template: "ca" auto "bt" auto/100%;
      max-width: 100%; }
      body section.blogText .blogTextItem a.qjobPostLink {
        padding: 45px 10px;
        width: 100%; }
      body section.blogText .blogTextItem p, body section.blogText .blogTextItem img, body section.blogText .blogTextItem h2, body section.blogText .blogTextItem h3, body section.blogText .blogTextItem .citation {
        padding: 10px 10px;
        max-width: 600px; }
      body section.blogText .blogTextItem iframe {
        width: 100%; }
      body section.blogText .blogTextItem .advice {
        margin: 0 0;
        width: 100%; }
        body section.blogText .blogTextItem .advice .adviceBlock {
          padding: 0; }
      body section.blogText .blogTextItem .citation.cols_right, body section.blogText .blogTextItem .citation.cols_left {
        margin: 30px 0 15px 0; }
        body section.blogText .blogTextItem .citation.cols_right h3, body section.blogText .blogTextItem .citation.cols_left h3 {
          width: 100%; }
      body section.blogText .customerAvatar {
        position: relative;
        height: auto;
        top: initial;
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
        padding: 10% 0; }
        body section.blogText .customerAvatar .Paragraph {
          margin: 0 auto;
          display: block; }
  /*end blog*/
  header.blogBlock {
    grid-template-areas: "logo enter nav lang mmenu";
    -ms-grid-columns: auto 1fr 1fr auto auto;
    grid-template-columns: auto 1fr 1fr auto auto; }
  header {
    -ms-grid-columns: auto auto 1fr 85px auto;
    grid-template-columns: auto auto 1fr 85px auto; }
    header nav.jqob-hmenu {
      padding: 0 5%; }
      header nav.jqob-hmenu a {
        margin: 0 auto;
        font-size: 12px; }
        header nav.jqob-hmenu a:first-child:before {
          height: 12px;
          width: 16px; }
    header .enter a {
      display: none; }
  section.taskPage .sidebarFilter {
    margin: 0 10px 20px 10px; }
    section.taskPage .sidebarFilter input {
      height: 18px; }
    section.taskPage .sidebarFilter .filterBlock .cityField, section.taskPage .sidebarFilter .filterBlock .radiusOfSearch, section.taskPage .sidebarFilter .filterBlock .priceValue, section.taskPage .sidebarFilter .filterBlock .searchField {
      padding: 5px 10px; }
    section.taskPage .sidebarFilter .filterBlock .taskFilter label {
      font-size: 10px;
      line-height: 20px; }
    section.taskPage .sidebarFilter .categoryFilter {
      margin-bottom: 40px; }
  section.taskPage .advList .item {
    margin: 0 10px 15px 10px; }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  header.blogBlock > .mobilemenu {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }
  header.blogBlock > .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  header.blogBlock > nav.jqob-hmenu {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
  header.blogBlock > .languages {
    -ms-grid-row: 1;
    -ms-grid-column: 4; }
  header.blogBlock > .enter {
    -ms-grid-row: 1;
    -ms-grid-column: 2; } }

@media screen and (max-width: 767px) {
  body section.blogImage {
    min-height: 600px; }
    body section.blogImage .mainImageElements {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin: 16% 10vw 5vh; }
      body section.blogImage .mainImageElements .meta h1 {
        font-size: 61px;
        line-height: 61px; } }

@media screen and (max-width: 640px) {
  header.tasks {
    grid-template-areas: "logo lang mmenu";
    -ms-grid-columns: 25% 1fr 10%;
    grid-template-columns: 25% 1fr 10%; }
  header .logo .logo-img {
    background: url("../img/logomobile.png") no-repeat;
    background-size: 55px 22px;
    width: 55px;
    height: 22px; }
  header .languages {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 20px; }
  header nav.jqob-hmenu {
    display: none; }
  header .enter {
    display: none; }
  section.taskPage {
    grid-template-areas: "TabBlock TabBlock" "MapBlock MapBlock" "sideFilter sideFilter" "AdvList AdvList";
    -ms-grid-columns: 1fr 30%;
    grid-template-columns: 1fr 30%; }
    section.taskPage .titleAndMapButton {
      margin: 20px 15px 0; }
      section.taskPage .titleAndMapButton h1 {
        font-size: 18px;
        line-height: 21px; }
      section.taskPage .titleAndMapButton div {
        display: none; }
    section.taskPage .advList .item {
      border: 1px solid #EDE8F7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 4px 10px rgba(32, 32, 32, 0.1);
      box-shadow: 0 4px 10px rgba(32, 32, 32, 0.1);
      border-radius: 8px;
      margin: 15px 15px 15px;
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr;
      grid-template: "desc" 1fr;
      padding: 20px 15px;
      -ms-grid-columns: auto;
      grid-template-columns: auto; }
      section.taskPage .advList .item .allDesc {
        -ms-grid-rows: auto 1fr auto auto auto auto;
        grid-template: "itemStatus itemStatus itemStatus" auto "itemTitle itemTitle itemTitle" 1fr "itemPrice itemRisk itemRisk" auto "itemAddress itemAddress itemAddress" auto "itemDate itemDate itemDate" auto "itemAuthName itemLikes itemFavButtons" auto;
        -ms-grid-columns: 100px 1fr 1fr;
        grid-template-columns: 100px 1fr 1fr; }
        section.taskPage .advList .item .allDesc .status {
          font-size: 10px;
          line-height: 12px;
          color: #9B99AA; }
        section.taskPage .advList .item .allDesc h4.title {
          font-size: 14px;
          line-height: 20px; }
        section.taskPage .advList .item .allDesc .date span {
          display: block;
          text-align: center;
          font-size: 12px;
          line-height: 14px; }
        section.taskPage .advList .item .allDesc .riskDeal {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-left: 5px; }
          section.taskPage .advList .item .allDesc .riskDeal span {
            display: none; }
        section.taskPage .advList .item .allDesc .price {
          text-align: left; }
          section.taskPage .advList .item .allDesc .price span {
            font-size: 14px;
            line-height: 16px;
            width: 80%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            text-align: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-item-align: center;
            align-self: center; }
        section.taskPage .advList .item .allDesc .address {
          margin: 10px 0;
          font-size: 12px;
          line-height: 22px; }
        section.taskPage .advList .item .allDesc .authorName {
          text-align: center;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
        section.taskPage .advList .item .allDesc .likes {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -ms-flex-item-align: center;
          align-self: center; }
        section.taskPage .advList .item .allDesc .buttons {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
      section.taskPage .advList .item .avatar {
        display: none; }
    section.taskPage .sidebarFilter .searchFieldMobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section.taskPage .sidebarFilter .searchFieldMobile input {
        color: inherit;
        font-size: inherit;
        line-height: inherit; }
    section.taskPage .sidebarFilter .filterBlock {
      display: none; }
    section.taskPage .sidebarFilter .categoryFilter {
      display: none; }
    section.taskPage .sidebarFilter .categoryFilterMobile {
      justify-items: center;
      line-height: 24px;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      padding: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 15px auto; }
      section.taskPage .sidebarFilter .categoryFilterMobile .catButton {
        -ms-flex-line-pack: start;
        align-content: flex-start;
        display: inherit;
        margin-right: auto; }
        section.taskPage .sidebarFilter .categoryFilterMobile .catButton:before {
          content: "";
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          margin: auto 5px auto 15px;
          background-image: url("../img/buttons/list.png");
          display: block; }
      section.taskPage .sidebarFilter .categoryFilterMobile .filtrList {
        -ms-flex-line-pack: end;
        align-content: flex-end;
        display: inherit;
        margin: 0 15px; }
        section.taskPage .sidebarFilter .categoryFilterMobile .filtrList:before {
          display: block;
          content: "";
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          margin: auto 5px auto 10px;
          background-image: url("../img/buttons/flterList.png"); }
  footer {
    border-top: 1px solid #EDE8F7;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "lc";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 40px 0 0 0; }
    footer .footer_menu {
      display: none; }
  /*blog*/
  body section.blogImage {
    background-attachment: scroll;
    grid-template-areas: "metaText" "imageNavBar";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 73vh; }
    body section.blogImage .mainImageElements {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin: 20vh 5vw 5vh;
      width: 90%; }
      body section.blogImage .mainImageElements .meta h1 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 40px; }
      body section.blogImage .mainImageElements .meta .description {
        font-size: 14px;
        line-height: 20px; }
    body section.blogImage .mainImageBar {
      margin: 0 5vw 15px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      body section.blogImage .mainImageBar .shares .qjobShareButton .shareWindow {
        width: 95%;
        top: initial;
        position: fixed;
        bottom: 30px;
        left: 2.5%; }
        body section.blogImage .mainImageBar .shares .qjobShareButton .shareWindow::after {
          display: none; }
      body section.blogImage .mainImageBar .arrow svg {
        width: 26px; }
  body section.blogText {
    padding: 0;
    margin: initial;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 100%;
    grid-template: "ca" auto "bt" auto/100%;
    max-width: 640px; }
    body section.blogText .blogTextItem a.qjobPostLink {
      padding: 10px 2%;
      width: 96%; }
    body section.blogText .blogTextItem p, body section.blogText .blogTextItem h2, body section.blogText .blogTextItem h3, body section.blogText .blogTextItem .citation {
      padding: 10px 20px;
      width: 90%; }
    body section.blogText .blogTextItem p {
      font-size: 16px; }
    body section.blogText .blogTextItem img {
      margin: 30px auto;
      padding: 0;
      width: 100%; }
    body section.blogText .blogTextItem .fotorama {
      width: 100%; }
    body section.blogText .blogTextItem .citation {
      margin: 30px 0; }
      body section.blogText .blogTextItem .citation.cols_left {
        width: 96%;
        float: initial;
        padding: 30px 2%; }
      body section.blogText .blogTextItem .citation.cols_right {
        width: 96%;
        float: initial;
        padding: 30px 2%; }
      body section.blogText .blogTextItem .citation.full_width {
        padding: 10px 20px;
        width: 90%;
        float: none; }
      body section.blogText .blogTextItem .citation h2, body section.blogText .blogTextItem .citation h3, body section.blogText .blogTextItem .citation h4, body section.blogText .blogTextItem .citation p {
        margin: -10px 0 5px;
        width: 95%; }
  body section.relatedPosts {
    padding: 40px 15px; }
    body section.relatedPosts .relatedPostsList {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: initial;
      flex-flow: initial;
      -webkit-box-pack: initial;
      -ms-flex-pack: initial;
      justify-content: initial;
      overflow: auto; }
      body section.relatedPosts .relatedPostsList .item {
        width: 278px;
        margin: 10px 8px; }
        body section.relatedPosts .relatedPostsList .item .image img {
          max-width: 272px;
          width: initial; }
  /*end blog*/
  header.tasks > .mobilemenu {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
  header.tasks > .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  header.tasks > .languages {
    -ms-grid-row: 1;
    -ms-grid-column: 2; }
  footer .logo_copyright {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  section.taskPage .titleAndMapButton {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  section.taskPage .mapBlock {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  section.taskPage .advList {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
    section.taskPage .advList .item .allDesc {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
      section.taskPage .advList .item .allDesc .status {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
      section.taskPage .advList .item .allDesc h4.title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
      section.taskPage .advList .item .allDesc .address {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
      section.taskPage .advList .item .allDesc .date {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
      section.taskPage .advList .item .allDesc .riskDeal {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2; }
      section.taskPage .advList .item .allDesc .price {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
      section.taskPage .advList .item .allDesc .authorName {
    -ms-grid-row: 6;
    -ms-grid-column: 1; }
      section.taskPage .advList .item .allDesc .likes {
    -ms-grid-row: 6;
    -ms-grid-column: 2; }
      section.taskPage .advList .item .allDesc .buttons {
    -ms-grid-row: 6;
    -ms-grid-column: 3; }
  section.taskPage .sidebarFilter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; } }

@media screen and (max-width: 480px) {
  body section.blogImage {
    height: 85vh; }
  body section.blogText {
    padding: 0 0px 0;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 100%;
    grid-template: "ca" auto "bt" auto/100%;
    max-width: 100%; }
    body section.blogText .blogTextItem {
      padding: 0 0%;
      width: 100%; }
      body section.blogText .blogTextItem a.qjobPostLink {
        padding: 45px 20px 45px;
        width: 86%; }
      body section.blogText .blogTextItem p {
        padding: 10px 20px 15px;
        width: 86%; }
      body section.blogText .blogTextItem h2 {
        padding: 30px 20px 0;
        width: 86%;
        font-weight: 700; }
      body section.blogText .blogTextItem h3 {
        padding: 30px 20px 0;
        width: 86%;
        font-weight: 700; }
      body section.blogText .blogTextItem .citation {
        padding: 30px 20px 0;
        width: 86%; }
        body section.blogText .blogTextItem .citation.full_width, body section.blogText .blogTextItem .citation.cols_right, body section.blogText .blogTextItem .citation.cols_left {
          padding: 30px 20px 0;
          width: 86%; } }

@media screen and (max-width: 320px) {
  body section.blogImage {
    height: 624px; }
  body section.blogText {
    padding: 0 0px 0;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 100%;
    grid-template: "ca" auto "bt" auto/100%;
    max-width: 100%; } }

@font-face {
  font-family: 'LetoSans';
  src: url("fonts/LetoSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LetoSans-Bold';
  src: url("fonts/LetoSans-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'LetoSans-Thin';
  src: url("fonts/LetoSans-Thin.otf") format("opentype"); }

@font-face {
  font-family: 'LetoSansCondensed';
  src: url("fonts/LetoSansCondensed.otf") format("opentype"); }

@font-face {
  font-family: 'LetoSansCondensed-Bold';
  src: url("fonts/LetoSansCondensed-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'LetoSansCondensed-Thin';
  src: url("fonts/LetoSansCondensed-Thin.otf") format("opentype"); }
