$grey1: #9B99AA;
$grey3: #EDE8F7;
@media screen and  (max-width: 1920px){

}
@media screen and  (max-width: 1536px){

}
@media screen and (max-width: 1200px){


  body{
    /*blog*/
    section.blog-image{
      .main-image-elements{
        .meta{
          padding: 0;
          h1{
            letter-spacing: .5px;
            font-size: 68px;
            line-height: 1.17;
          }
          .description{
            width: 95%;
          }
        }
      }
    }
    section.blog-text{
      grid-template: "ca bt ." 1fr/160px 630px 180px;
      max-width: 960px;
      .customer-avatar{
        max-width: 150px;
      }
      .blog-text-item{
        max-width: 620px;
        p{
          font-size: 18px;
        }
        iframe{
          width: 100%;
        }
        h2,h3,a,p{
          padding: 15px 0 15px 0px;
        }
        img{
          padding: 0;
          width: 100%;
        }
      }
    }
    section.task-page{
      .sidebar-filter{
        margin: 0 40px 20px 10px;
        .filter-block{

        }
        .category-filter{
          margin-bottom: 40px;
        }
      }
      .adv-list{
        .item{
          margin: 0 20px 15px 50px;
          grid-template: "desc" 1fr;
          grid-template-columns: auto;
        }
        .avatar{
          display: none;
        }
      }
    }
  }
  /* blog end */
}

@media screen and (max-width: 1024px){
  body{
    section.blog-image{
      background-attachment: scroll;
      min-height: 450px;
      .main-image-elements{
        width: 79vw;
        .meta{
          .description{
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {

  /*blog*/
  body{
    grid-template:
            [row1-start] "bh" auto [row1-end]
            [row2-start] "bn" auto [row2-end]
            [row3-start] "tb" [row3-end]
            [row4-start] "sl" auto [row4-end]
            [row5-start] "rp" auto [row5-end]
            [row6-start] "ft" auto [row6-end] / 100%;
    section.blog-image{
      grid-auto-rows: 1fr auto;
      min-height: 445px;
      .main-image-elements{
        align-self: center;
        margin: 16vh 10vw 5vh;
        .meta{
          padding-bottom: 0;
          h1{
            font-size: 62px;
            line-height: 62px;
          }
        }
      }
    }
    section.social_links{
      width: 95%;
    }
    section.blog-text{
      padding: 0 15px 0;
      grid-template: "ca" auto "bt" auto/100%;
      max-width: 100%;
      .blog-text-item{
        a.qjob-post-link{
          padding: 45px 10px;
          width: 100%;
        }
        p,img,h2,h3,blockquote{
          padding: 10px 10px;
          max-width: 600px;
        }
        iframe{
          width: 100%;
        }
        .advice{
          margin: 0 0;
          width: 100%;
          .advice-block{
            padding: 0;
          }
        }
        blockquote{
          &.cols_right,&.cols_left{
            margin: 30px 0 15px 0;
            h3{
              width: 100%;
            }
          }
          &.full_width{
          }
        }
      }
      .customer-avatar{
        position: relative;
        height: auto;
        top: initial;
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
        padding: 10% 0;
        .paragraph{
          margin: 0 auto;
          display: block;
        }
      }
    }
  }


  /*end blog*/
  header.blogBlock{
    grid-template-areas: "logo enter nav lang mmenu";
    grid-template-columns: auto 1fr 1fr auto auto;
  }
  header{
    grid-template-columns: auto auto 1fr 85px auto;
    nav.jqob-hmenu{
      padding: 0 5%;
      a{
        margin: 0 auto;
        font-size: 12px;
        &:first-child{
          &:before{
            height: 12px;
            width: 16px;
          }
        }
      }
    }
    .enter{
      a{
        display: none;
      }
    }
  }
  section.task-page{
    .sidebar-filter{
      margin: 0 10px 20px 10px;
      input{
        height: 18px;
      }
      .filterBlock{
        .city-field, .radius-of-search, .price-value, .search-field{
          padding: 5px 10px;
        }
        .task-filter{
          label{
            font-size: 10px;
            line-height: 20px;
          }
        }
      }
      .category-filter{
        margin-bottom: 40px;

      }
    }
    .adv-list{
      .item{
        margin: 0 10px 15px 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body{
    section.blog-image{
      min-height: 600px;
      .main-image-elements {
        .meta{
          h1{
            font-size: 61px;
            line-height: 61px;
          }
        }
        align-self: center;
        margin: 16% 10vw 5vh;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  header{
    &.tasks{
      grid-template-areas: "logo lang mmenu";
      grid-template-columns: 25% 1fr 10%;
    }

    .logo {
      .logo-img {
        background: url('../img/logomobile.png') no-repeat;
        background-size: 55px 22px;
        width: 55px;
        height: 22px;
      }
    }
    .languages{
      justify-content: flex-end;
      margin-right: 20px;
    }
    nav.jqob-hmenu{
      display: none;
    }
    .enter{
      display: none;
    }
  }
  section.task-page{
    grid-template-areas: "TabBlock TabBlock" "MapBlock MapBlock" "sideFilter sideFilter" "AdvList AdvList";
    grid-template-columns: 1fr 30%;
    .title-and-map-button{
      margin: 20px 15px 0;
      h1{
        font-size: 18px;
        line-height: 21px;
      }
      div{
        display: none;
      }
    }

    .adv-list{
      .item{
        border: 1px solid #EDE8F7;
        box-sizing: border-box;
        box-shadow: 0 4px 10px rgba(32, 32, 32, 0.1);
        border-radius: 8px;
        margin: 15px 15px 15px;
        display: grid;
        grid-template: "desc" 1fr;
        padding: 20px 15px;
        grid-template-columns: auto;
        .all-desc{
          grid-template: "itemStatus itemStatus itemStatus" auto
          "itemTitle itemTitle itemTitle" 1fr
          "itemPrice itemRisk itemRisk" auto
          "itemAddress itemAddress itemAddress" auto
          "itemDate itemDate itemDate" auto
          "itemAuthName itemLikes itemFavButtons" auto;
          grid-template-columns:  100px 1fr 1fr;
          .status{
            font-size: 10px;
            line-height: 12px;
            color: $grey1;
          }
          h4.title{
            font-size: 14px;
            line-height: 20px;
          }
          .date{
            span{
              display: block;
              text-align: center;
              font-size: 12px;
              line-height: 14px;
            }
          }
          .risk-deal{
            align-items: center;
            margin-left: 5px;
            span{
              display: none;
            }
          }
          .price{
            text-align: left;
            span{
              font-size: 14px;
              line-height: 16px;
              width: 80%;
              display: flex;
              text-align: center;
              justify-content: center;
              align-self: center;
            }
          }
          .address{
            margin: 10px 0;
            font-size: 12px;
            line-height: 22px;
          }
          .author-name{
            text-align: center;
            align-self: center;
          }
          .likes{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-self: center;
          }
          .buttons{
            align-self: center;
          }
        }
        .avatar{
          display: none;
        }
      }
    }
    .sidebar-filter{
      .search-field-mobile{
        display: flex;
        input{
          color: inherit;
          font-size: inherit;
          line-height: inherit;
        }
      }
      .filter-block{
        display: none;
      }
      .category-filter{
        display: none;
      }
      .category-filter-mobile{
        justify-items: center;
        line-height: 24px;
        display: -webkit-flex;
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: flex-end;
        margin: 15px auto;
        .cat-button{
          align-content: flex-start;
          display: inherit;
          margin-right: auto;
          &:before {
            content: "";
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            margin: auto 5px auto 15px;
            background-image: url('../img/buttons/list.png');
            display: block;
          }
        }
        .filtr-list{
          align-content: flex-end;
          display: inherit;
          margin: 0 15px;
          &:before{
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            margin: auto 5px auto 10px;
            background-image: url('../img/buttons/flterList.png');
          }
        }
      }
    }
  }
  footer{
    border-top: 1px solid $grey3;
    display: grid;
    grid-template-areas: "lc";
    grid-template-columns: 1fr;
    margin: 40px 0 0 0;
    .footer_menu{
      display: none;
    }
  }


  /*blog*/
  body{
    section.blog-image{
      background-attachment: scroll;
      grid-template-areas: "metaText" "imageNavBar";
      justify-content: space-between;
      height: 73vh;
      .main-image-elements{
        align-self: center;
        margin: 20vh 5vw 5vh;
        width: 90%;
        .meta{
          h1{
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 40px;
          }
          .description{
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .main-image-bar{
        margin: 0 5vw 15px;
        align-self: center;
        .shares{
          .qjob-share-button{
            .share-window{
              width: 95%;
              top: initial;
              position: fixed;
              bottom: 30px;
              left: 2.5%;
              &::after{
                display: none;
              }
            }
          }
        }
        .arrow{
          svg{
            width: 26px;
          }
        }
      }
    }

    section.blog-text{
      padding: 0;
      margin: initial;
      grid-template: "ca" auto "bt" auto/100%;
      max-width: 640px;
      .blog-text-item{
        a.qjob-post-link{
          padding: 10px 2%;
          width: 96%;
        }
        p,h2,h3,blockquote{
          padding: 10px 20px;
          width: 90%;
        }
        p{
          font-size: 16px;
        }
        img{
          margin: 30px auto;
          padding: 0;
          width: 100%;
        }
        .advice{

        }
        .fotorama{
          width: 100%;
          padding: 0 0 0 0;
        }
        blockquote{
          margin: 30px 0;
          &.cols_left{
            width: 96%;
            float: initial;
            padding: 30px 2%;
          }
          &.cols_right{
            width: 96%;
            float: initial;
            padding: 30px 2%;
          }
          &.full_width{
            padding: 10px 20px;
            width: 90%;
            float: none;
          }
          h2,h3,h4,p{
            margin: -10px 0 5px;
            width: 95%;
          }
        }
      }
    }
    section.related-posts{
      padding: 40px 15px;
      .related-posts-list{
        flex-flow: initial;
        justify-content: initial;
        overflow: auto;
        .item{
          width: 278px;
          margin: 10px 8px;
          .image{
            img{
              max-width: 272px;
              width: initial;
            }
          }
        }
      }
    }
  }
  /*end blog*/

}

@media screen and (max-width: 480px) {
  body{
    section.blog-image{
      height: 85vh;
      .main-image-elements{

      }
    }

    section.blog-text {
      padding: 0 0 0;
      grid-template: "ca" auto "bt" auto/100%;
      max-width: 100%;

      .blog-text-item {
        padding: 0 0;
        width: 100%;

        a.qjob-post-link {
          padding: 45px 20px 45px;
          width: 86%;
        }

        p {
          padding: 10px 20px 15px;
          width: 86%;
        }

        h2 {
          padding: 30px 20px 0;
          width: 86%;
          font-weight: 700;
        }

        h3 {
          padding: 30px 20px 0;
          width: 86%;
          font-weight: 700;
        }

        .advice {

        }

        .citation {
          padding: 30px 20px 0;
          width: 86%;

          &.full_width, &.cols_right, &.cols_left {
            padding: 30px 20px 0;
            width: 86%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body{
    section.blog-image{
      height: 624px;
      .main-image-elements{

      }
    }
    section.blog-text{
      padding: 0 0 0;
      grid-template: "ca" auto "bt" auto/100%;
      max-width: 100%;
    }
  }
}
